* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  padding: 20px;
  background-color: rgb(57, 57, 57);
}

#board {
  display: block;
  position: relative;
  margin: 0 auto;
  border: 5px solid #222222;
  border-radius: 5px;
  box-sizing: content-box;
}

.pixel {
  position: absolute;
  border: 0.5px solid rgb(34, 34, 34);
  font-size: 8px;
  text-align: center;
}

.pixel:hover {
  border: 1px solid rgb(25, 103, 171) !important;
}
